<%- include('partials/header') %>

<h1>Update/Delete Authors</h1>

<div class="item-list">
    <% for (let i = 0; i < authors.length; i++) { %>
        <div>
            <a href="/author/edit?authorId=<%=authors[i].authorId%>">UPDATE</a>
            <a href="/author/delete?authorId=<%=authors[i].authorId%>" class="delete">DELETE</a>
            <%=authors[i].firstName%> <%=authors[i].lastName%>
        </div>
    <% } %>
</div>

<div class="footer-links">
    <a href="/">Home</a>
</div>

<%- include('partials/footer') %>
