<%- include('partials/header') %>

<h1>Update/Delete Quotes</h1>

<div class="item-list">
    <% for (let i = 0; i < quotes.length; i++) { %>
        <div>
            <a href="/quote/edit?quoteId=<%=quotes[i].quoteId%>">UPDATE</a>
            <a href="/quote/delete?quoteId=<%=quotes[i].quoteId%>" class="delete">DELETE</a>
            "<%=quotes[i].quote%>" - <%=quotes[i].firstName%> <%=quotes[i].lastName%> | Category: <%=quotes[i].category || 'N/A'%> | Likes: <%=quotes[i].likes%>
        </div>
    <% } %>
</div>

<div class="footer-links">
    <a href="/">Home</a>
</div>

<%- include('partials/footer') %>
